.header__container {
  max-width: 1201px;
  min-height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 13px;
}

@media (max-width: 1439px) {
  .header__container {
    max-width: 741px;
    padding-top: 18px;
  }
}

@media (max-width: 375px) {
  .header__container {
    max-width: 343px;
    min-height: 34px;
  }
}
